extends main.pug 

//-
  zde: 
    stránka třídy
    seznam žáků ve třídě

append vars
  - const title = "Třída X"

append content
  ul(class="tileMenu list twocol")
    li 
      a(href="/teacher/studentBooks" class="mainItem ghover") Tomáš Krejčí
      a(href="" class="fa-solid fa-envelope" title="Žádosti")
    li 
      a(href="/teacher/studentBooks" class="mainItem ghover") Sus
      a(href="" class="fa-solid fa-envelope" title="Žádosti")
    li 
      a(href="/teacher/studentBooks" class="mainItem ghover") Amongus Enjoyer
      a(href="" class="fa-solid fa-envelope" title="Žádosti")