extends main.pug 

//-
  zde: 
    hlavní stránka učitele
    seznam tříd

append scripts 
  script(src="/js/locking.js") 

append vars
  - const title = "Moje třídy"

append content
  unless (data) 
    h3(class="error") Došlo k chybě
  if (data)
    ul(class="tileMenu list") 
      each schClass in data
        li 
          if schClass.lockTime 
            - date = new Date(schClass.lockTime)
            - lockFormat = " | Zamknuto do <strong>" + date.toLocaleString("cs-CZ", {timeZone: "CET"}) + "</strong> | Počet děl: <strong>" + schClass.lockCount + "</strong>"
          else 
            - lockFormat = null
          a(href="/teacher/class/"+schClass.id class="mainItem ghover") #{schClass.name} !{lockFormat}
          if schClass.lockTime
            a(class="fa-solid fa-lock" title="Odemknout výběr" onclick="unlock(\""+schClass.id+"\", \""+schClass.name+"\")")
          else 
            a(class="fa-solid fa-lock-open" title="Uzamknout výběr" onclick="lock(\""+schClass.id+"\", \""+schClass.name+"\")")
