extends main.pug 

//-
  zde: 
    stránka třídy
    seznam žáků ve třídě

append vars
  - const title = "Třída " + ""

append content
  unless (data) 
    h3(class="error") Došlo k chybě
  if (data)
    ul(class="tileMenu list twocol") 
      each st in data
        li
          a(href="/teacher/studentBooks/"+st.id class="mainItem ghover") #{st.firstName} #{st.lastName}
