extends main.pug 

//-
  zde: 
    stránka třídy
    seznam žáků ve třídě

append vars
  - const title = "Třída X"

append content
  ul
    li 
      a(href="/teacher/studentBooks") Žák 1
    li 
      a(href="/teacher/studentBooks") Žák 2
    li 
      a(href="/teacher/studentBooks") Žák 3