extends main.pug 

//-
  zde: 
    hlavní stránka učitele
    seznam tříd

append vars
  - const title = "Panel učitele"

append content 
  ul
    li 
      a(href="/teacher/class") Třída 1
    li 
      a(href="/teacher/class") Třída 2
    li 
      a(href="/teacher/class") Třída 3
  