extends main.pug 

//-
  zde: 
    seznam žádostí o výměnu knihy

append vars
  - const title = "Žádosti o výměnu"

append content 
  ul
    li 
      a(href="") Žádost 1
    li 
      a(href="") Žádost 2
    li 
      a(href="") Žádost 3
  