doctype html
html(lang="cs")
  body 
    header 
      //-img(src="./media/logo.png", alt="SSPBrnoLogo" id="logo")
      h1 Aplikace maturitní četby
      hr
          
    
    div(id="mainContainer")
      style.
        .smallText {
          color: gray;
          font-size: 0.9rem;
        }
      div(class="content")
        block content
