extends layout.pug

append content 
  h2 Dokončení registrace
  a(href=url) Klikněte zde pro dokončení registrace 
  p Odkaz je platný pouze 15 minut!
  hr
  p(class="smallText") Nevyžádali jste si registraci účtu systému maturitní četby? Tento email můžete ignorovat.