/* ===============
      GLOBAL
================== */

:root {
  --darkBlue: #171923;
  --sspGreen: #199F58; /* Lighter: #19dd58, Darker: #199F58*/
  --sspBlue: #003E90; /* Lighter: #003ec8, Darker: #003E90*/
  --sspRed: #E2001A;
  --gray: #ABACB0;
  --grayBg: #3C3E46;
  --grayBgAlt: #2b2c2e;
  --grayBgAltOpacity: rgba(43, 44, 46, 0.7);
  --grayBgOpacity: rgba(60, 62, 70, 0.7);
  --white: white;
  --selected: #0E5831;

  --text: var(--white);
  --textContrast: var(--white);
  --background: var(--darkBlue);
}

:focus {
  outline: 3px solid var(--selected);
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  transition: 0.2s;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--background);
}


/* =================
      COLORS
==================== */

.red {
  color: var(--sspRed);
}

.green {
  color: var(--sspGreen);
}

.blue {
  color: var(--sspBlue);
}

.text {
  color: var(--text);
}

.gray {
  color: var(--gray);
}

/* =================
      TYPOGRAPHY
==================== */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.ttf')  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Medium.ttf')  format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Bold.ttf')  format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Black.ttf')  format('truetype');
  font-weight: 900;
}

h1, h2, h3, h4 {
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}

h2, h3 {
  margin-top: 5px;
  margin-left: 10px;
}

p {
  color: var(--text);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
  margin: 4px 10px 4px 10px;
}

ol, summary {
  color: var(--text)
}

a,
button {
  color: var(--textContrast);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

span {
  font-family: Arial, Helvetica, sans-serif;
}

label {
  color: var(--text);
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  color: var(--white);
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.error {
  font-family: 'Roboto', sans-serif;
  color: orangered;
}

.success {
  font-family: 'Roboto', sans-serif;
  color: var(--sspGreen);
}


/* =================
      INPUTS
==================== */

input, button {
  -webkit-appearance: none;
  border-radius: 2px;
  border-style: none;
  background-color: var(--gray);
  color: var(--white);
  padding: 5px;
  margin: 5px 0 10px 0;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.2s;
}

input::placeholder {
  color: var(--grayBgOpacity);
}

input[type=submit],
input[type=button] {
  color: var(--textContrast);
  padding: 10px;
  margin-top: 15px;
  background-color: var(--sspBlue);
  border-radius: 4px;
}

input[type=submit]:hover,
input[type=button]:hover {
  background-color: var(--selected);
  cursor: pointer;
}

input[type=radio] {
  background: var(--gray);
  border: 2px solid var(--sspBlue);
  border-radius: 7px;
}

input[type=radio]:disabled {
  background: var(--gray);
  border-color: var(--grayBgAlt);
}

input[type=text]:disabled,
input[type=email]:disabled,
input[type=password]:disabled {
  color: var(--gray);
  background: var(--grayBgOpacity);
}

input[type=radio]:checked {
  border-color: var(--gray);
  background: var(--sspBlue);
  outline: none;
}

input[type=radio]:disabled:checked {
  background: var(--grayBgAlt);
  border-color: var(--gray);
  outline: none;
}

input[type=checkbox] {
  background: var(--gray);
  border: 2px solid var(--sspGreen);
}

input[type=checkbox]:checked {
  border-color: var(--gray);
  background: var(--sspGreen);
}

.radioLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  background-color: var(--grayBg);
  border: 2px solid var(--sspBlue);
  border-radius: 3px;
  padding: 7px;
}

textarea:disabled {
  border-color: var(--grayBgAlt);
  color: var(--white);
  opacity: 1;
}

/* === THEME SWITCH ===== */

#themeSwitch {
  color: black;
  margin: 5px;
  cursor: pointer;
  background-color: var(--background);
  border: none;
}


#themeSwitch:checked {
  color: yellow;
}

#themeSwitch:focus {
  outline: none;
}

/* =================
      MISC
==================== */

.alert {
  display: flex;
  color: orange;
  margin: 0.3rem;
  padding: 1rem;
  background-color: var(--grayBgOpacity);
  border-radius: 4px;
  transition: 0.2s;
}

.alert .fa-circle-exclamation,
.alert .fa-triangle-exclamation,
.alert .fa-circle-check {
  align-self: center;
  margin-right: 10px;
  font-size: 1.5rem;
}

.blueSep {
  border: 3px solid;
  border-color: var(--sspBlue);
  background-color: var(--sspBlue);
  margin-top: 4px;
  margin-bottom: 4px;
}

.graySep {
  border: 3px solid;
  border-color: var(--grayBgAlt);
  background-color: var(--grayBgAlt);
  margin-top: 4px;
  margin-bottom: 4px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none
}

summary > div {
  width: calc(100% - 50px);
  display: inline-block;
  vertical-align: middle;
}

summary {
  display: block
}

summary:before {
  content: "►";
  margin: 0px 10px 0 0;
  width: 20px;
}

details[open] summary:before {
  content: "▼";
}

/* =================
      HEADER
==================== */

header {
  display: flex;
  align-items: center;
  height: max-content;
  width: 100%;
  border: 0;
  border-bottom: 8px solid;
  border-image: linear-gradient(to right, var(--sspGreen) 33%, var(--sspBlue) 33%, var(--sspBlue) 67%, var(--sspRed) 67%, var(--sspRed) 100%) 5;
  flex-wrap: wrap;
  padding: 10px;
}

.title {
  flex: 4;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 610px) {
  .title {
    text-align: center;
  }
}

#logo {
  height: 4em;
  margin-right: 20px;
}

.title h1 {
  text-transform: uppercase;
  line-height: 140%;
  font-size: 1.5rem;
  font-weight: 500;
}

header nav {
  flex: 25%;
  text-align: center;
  width: 100%;
  margin: 15px 0 15px 0;
}

header nav ul{
  list-style: none;
  padding: 0;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

header nav a {
  color: var(--text);
  font-size: 1.1rem;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 5px;
  padding: 13px 20px 13px 20px;
  border-radius: 7px;
  transition: 0.2s;
}

.active {
  color: var(--textContrast);
  background-color: var(--grayBg);
  border: 3px solid var(--selected);
}

header nav a:hover {
  color: var(--textContrast);
  background-color: var(--grayBgOpacity);
}

@media only screen and (max-width: 680px) {
  header nav ul {
    justify-content: center;
  }
}

/* =================
    MAIN CONTAINER
==================== */

#mainContainer {
  flex: 1;
  min-height: max-content;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 110ch;
  flex-direction: column;
  padding: 10px 0 10px 0;
}

.content h1 {
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 610px) {
  .content {
    width: 100%;
  }
}

/* ===GENERAL TILE MENU========= */

.tileMenu {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.tileMenu li,
.tileMenu .liform {
  flex: 100%;
  max-width: 100%;
  display: flex;
}

.tileMenu form {
  max-width: 100%;
  display: flex;
}

.tileMenu li a,
.tileMenu li .addrem {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.3rem;
  padding: 1rem;
  background-color: var(--grayBgOpacity);
  border-radius: 4px;
  transition: 0.2s;
}

@media only screen and (max-width: 610px) {
  .tileMenu {
    width: 100%;
  }
}

/* ===MAIN TILE MENU========= */

.mainMenu {
  height: 70%;
  width: 100%;
  align-items: stretch;
}

.mainMenu li {
  flex: 50%;
}

.mainMenu li a {
  white-space: nowrap;
  justify-content: center;
  font-size: 2rem;
}

.mainMenu li a:hover {
  background-color: var(--sspGreen);
}

@media only screen and (max-width: 610px) {
  .mainMenu li {
    flex: 100%;
    max-width: none;
  }

}

/* ===LOGIN========= */

.login {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 50px 0 50px 0;
  padding: 35px;
  background-color: var(--grayBgOpacity);
  border-radius: 7px;
  width: 400px;
}

.login h1 {
  color: var(--textContrast);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

.login label {
  color: var(--textContrast);
}

.inputField {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 610px) {
  .login {
    margin: 20px 0 20px 0;
    width: 100%;
  }
}

/* ===BOOKLIST / CLASSLIST / GENERAL LIST========= */

.mainItem {
  flex: 1;
  min-width: 150px;
}

.ghover:hover,
.list .ghover:hover {
  background-color: var(--sspGreen);
}

.bhover:hover,
.list .bhover:hover {
  background-color: var(--sspBlue);
}

.rhover:hover,
.list .rhover:hover {
  background-color: var(--sspRed);
}

.pointer:hover {
  cursor: pointer;
}

.mainItem div {
  display: flex;
  align-items: center;
  width: 100%;
}

.twocol {
  width: 100%;
}

.twocol li {
  flex: 50%;
  max-width: 50%;
}

.list {
  min-width: 100%;
}

.list li a,
.list li .addrem {
  display: block;
  width: max-content;
  align-self: stretch;
  justify-content: center;
}

.list .fa-solid,
.list .center {
  display: flex;
}

.list span {
  margin-left: 10px;
}

.bookAuthor {
  margin-top: 10px;
}

.unread {
  background-color: #3C3E46ab;
}

.read {
  background-color: #5a95b9ab;
}

.done {
  background-color: #199f58ab;
}

.list .fa-globe:hover {
  background-color: var(--sspBlue);
}

.list .fa-note-sticky:hover,
.list .fa-envelope:hover {
  background-color: orange;
  cursor: pointer;
}

.list .fa-plus:hover {
  background-color: var(--sspGreen);
  cursor: pointer;
}

.list .fa-minus:hover {
  background-color: var(--sspRed);
  cursor: pointer;
}

.list .fa-right-left:hover {
  background-color: var(--grayBgAlt);
  cursor: pointer;
}

.list .fa-lock-open:hover {
  background-color: #46462e;
  cursor: pointer;
}

.list .fa-lock:hover {
  background-color: #2b462e;
  cursor: pointer;
}

.right {
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

@media only screen and (max-width: 420px) {
  .hideNoFit {
    display: none !important;
  }
}

/* ======NOT FOUND====== */

.notfound {
  align-self: center;
  max-width: 50%;
}

/* ======POPUP====== */

.popupBg {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: var(--grayBgOpacity);
}

.popup {
  margin-top: -20%;
  background: var(--background);
  padding: 1rem;
  border-radius: 7px;
  height: max-content;
  text-align: center;
}

.popup h2 {
  margin-bottom: 10px;
}

.popup h4 {
  margin-top: 10px;
  margin-bottom: 3px;
}

.popup input[type=submit],
.popup input[type=button],
.popup input[type=radio],
.popup input[type=checkbox],
.popup label {
  margin: 5px;
}

.popup textarea {
  width: 90%;
  min-height: 100px;
}

/* =================
      FOOTER
==================== */

footer {
  bottom: 0;
  height: max-content;
  width: 100%;
  border: 0;
  border-top: 8px solid;
  border-image: linear-gradient(to right, var(--sspGreen) 33%, var(--sspBlue) 33%, var(--sspBlue) 67%, var(--sspRed) 67%, var(--sspRed) 100%) 5;
  padding: 10px;
  background-color: var(--background);
}


footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

footer li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px 20px 5px 20px;
}

footer li img {
  height: 50px;
  transition: 0.2s;
}

footer li img:hover {
  height: 63px;
}