extends layout.pug 

//-
  zde: 
    úvodní stránka
    dlaždicové menu

append scripts 
  script(src="/js/active.js") 

append vars
  - const title = "Stránka nenalezena"
  - const pic = Math.floor(Math.random() * 3);

block title
  title #{title}

block mainContainer 
  div(class="content")
    h1 #{title}
    img(src="/media/notFound/" + pic + ".png", alt="Not Found" class="notfound")

