extends layout.pug 

//-
  zde: 
    seznam dostupných knih k výběru

block vars
  - const title = "Webová aplikace maturitní četby"

block title
  title #{title}

block mainContainer 
    h1 #{title}
    a(href="./login") Login
