extends layout.pug 

//-
  zde: 
    úvodní stránka
    dlaždicové menu

append scripts 
  script(src="/js/active.js") 

append vars
  - const title = "Maturitní četba"

block title
  title #{title}

block mainContainer 
  div(class="content")
    ul(class="tileMenu mainMenu")
      li
        unless session.email 
          a(href=loginHref) !{login}
        else if session.role == "student"
          a(href="/student") 
            i(class="fa-solid fa-list-check")  &nbsp;
            | Můj seznam
        else if session.role == "teacher"
          a(href="/teacher") 
            i(class="fa-solid fa-school")  &nbsp;
            | Moje třídy
      if session.role == "teacher" 
        li 
          a(href="/teacher/requests") 
            i(class="fa-solid fa-envelopes-bulk")  &nbsp;
            | Žádosti !{"(" + data.reqCount + ")"}
      li 
        a(href="/booklist") 
          i(class="fa-solid fa-book")  &nbsp;
          | Seznam děl
      li 
        //- LINK
        a(href="/") 
          i(class="fa-solid fa-book-open-reader")  &nbsp;
          | Manuál 
    //-
      li 
        //- LINK
        a(href="/") 
          i(class="fa-solid fa-circle-question")  &nbsp;
          | O aplikaci
      
append code 
  script.
    setActive("home")