//-
  zde: 
    základní rozložení všech stránek

- var login = "<i class=\"fa-solid fa-right-to-bracket\"></i> &nbsp;Přihlásit"
- var loginHref = "/login"

//- změna na odhlášení pokud existuje platná session
- 
  if(session.email) {
    login = "<i class=\"fa-solid fa-right-from-bracket\"></i> &nbsp;Odhlásit"
    loginHref = "/logout"
  }

block vars

doctype html
html(lang="cs")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css" type="text/css")
    link(rel="shortcut icon", href="/media/favicon.ico", type="image/x-icon")
    block title
    block scripts
      link(rel="stylesheet", href="/fonts/fontawesome/css/all.min.css")
  body 
    header 
      a(href="/" class="title" tabindex="-1")
        img(src="/media/logo.png", alt="SSPBrnoLogo" id="logo")
        h1 Aplikace maturitní četby
      nav
        ul
          li
            a(href="/" id="home")
              i(class="fa-solid fa-house") &nbsp;
              |  Domů
          li
            a(href=loginHref id="login") !{login}
          li
            input(type="checkbox" class="fa-solid fa-moon" id="themeSwitch")
    
    div(id="mainContainer")
      block mainContainer
    
    footer 
      ul 
        li 
          a(href="http://www.sspbrno.cz") 
            img(src="/media/logo.png", alt="SSPBrno" title="Stránky školy")
        li 
          a(href="https://sspbrno.edupage.org/") 
            img(src="/media/icons/edupage.png", alt="EduPage" title="EduPage")
        li 
          a(href="https://outlook.office.com/mail/") 
            img(src="/media/icons/outlook.png", alt="Outlook" title="Outlook - Email")
        li 
          a(href="https://sspbrno.sharepoint.com/") 
            img(src="/media/icons/sharepoint.png", alt="SharePoint" title="SharePoint")        
        li 
          a(href="https://moodle.sspbrno.cz") 
            img(src="/media/icons/moodle.png", alt="Moodle" title="Moodle")
        li 
          a(href="https://stravovani.sspbrno.cz/") 
            img(src="/media/icons/icanteen.png", alt="iCanteen" title="iCanteen - Stravování")

    block code
     script(src="/js/theme.js")