extends layout.pug

//-
  zde: 
    příhlášení studenta/učitele

append scripts 
  script(src="/js/active.js") 

append vars
  - const title = "Přihlášení"

block title 
  title #{title}

block mainContainer
  div(class="content")
    if errorMsg
      div(class="alert")
        div(class="fa-solid fa-triangle-exclamation error")
        h3(class="error") #{errorMsg}


    div(class="login")
      form(action="/login", method="post")
        h1 #{title}
        div(class="inputField") 
          label(for="email")  Email 
          input(type="email", name="email", id="email", placeholder="student@purkynka.cz", value=email)
          label(for="password")  Heslo 
          input(type="password", name="password", id="password", placeholder="••••••••")
          input(type="submit" value="Přihlásit")

append code 
  script.
    setActive("login")