extends layout.pug

//-
  zde: 
    příhlášení studenta/učitele

block vars
  - const title = "Přihlášení"

block title 
  title #{title}

block mainContainer
  h1 #{title}
  form(action="/login", method="post")
    div 
      table 
        tr 
          td 
            label(for="email")  Email 
          td 
            input(type="email", name="email", id="email", placeholder="student@purkynka.cz", value=email)
        tr 
          td 
            label(for="password")  Heslo 
          td 
            input(type="password", name="password", id="password", placeholder="••••••••")
        tr 
          td 
          td 
            button(type="submit") Login
        tr
          td #{errorMsg}
