html(lang="cs")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css" type="text/css")
    title Přihlášení
  body 
    h1 Přihlášení
    form(action="/login", method="post")
      div 
        table 
          tr 
            td 
              label(for="email")  Přihlašovací jméno 
            td 
              input(type="email", name="email", id="email")
          tr 
            td 
              label(for="password")  Heslo 
            td 
              input(type="password", name="password", id="password")
          tr 
            td 
            td 
              button(type="submit") Login
          tr
            td #{errMsg}